@{
    ViewData["Title"] = "Upload";
}

<h1>Upload File</h1>
<div class="row">
    <section>
        <form method="post" enctype="multipart/form-data" asp-controller="FileUpload" asp-action="Index">
            <div class="form-group">
                <div class="col-md-12">
                    <p>Upload one CSV/XML:</p>
                    <input type="file" name="file" single/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" value="Upload" id="btn" style="background-color:lightskyblue"/>
                </div>
            </div>
        </form>
    </section>
</div>