@{
    ViewData["Title"] = "Transaction";
}
<h1>Fetch Transaction</h1>

<div class="container">
    <section>
        <form method="get" asp-controller="Transaction" asp-action="TransactionsByCurrency">
            <div class="form-group">
                <input type="text" class="form-control" id="currency" placeholder="Enter currency code" name="currency">
            </div>
            <button type="submit" class="btn btn-primary">Get Transaction By Currency</button>
        </form>
    </section>
    <br />
    
    <section>
        <form method="get" asp-controller="Transaction" asp-action="TransactionsByDateRange">
            <div class="form-group">
                <label for="startDate">Start Date</label>
                <input type="date" class="form-control" id="startDate" placeholder="Enter start date" name="startDate">
                
                <label for="endDate">End Date</label>
                <input type="date" class="form-control" id="endDate" placeholder="Enter end date" name="endDate">
            </div>
            <button type="submit" class="btn btn-primary">Get Transaction By Date Range</button>
        </form>
    </section>
    <br />
    
    <section>
        <form method="get" asp-controller="Transaction" asp-action="TransactionsByStatus">
            <div class="form-group">
                <input type="text" class="form-control" id="status" placeholder="Enter status" name="status">
            </div>
            <button type="submit" class="btn btn-primary">Get Transaction By Status</button>
        </form>
    </section>
</div>